.layout-page {
  border: 1px solid var(--semi-color-border);

  .layout-bg {
    background-color: rgb(var(--semi-grey-0));
  }

  .layout-content {
    position: relative;

    margin: 24px;
  }

  .layout-header {
    background-color: var(--semi-color-bg-1);
    .semi-navigation-horizontal {
      height: 50px;

      border-bottom: 1px solid var(--semi-color-border);
    }
  }

  .layout-footer {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 40px;

    color: var(--semi-color-text-2);
  }
  .semi-badge-rightTop {
    position: absolute;
    top: 8px;
    right: 20px;

    transform: translate(50%, -50%);
    transform-origin: 100% 0%;
  }
  .semi-radio-addon-buttonRadio-checked {
    color: var(--semi-color-text-1);
    font-weight: 600;

    background: var(--semi-color-bg-3);
  }

  .semi-navigation-vertical .semi-navigation-header-list-outer {
    overflow-y: scroll;
  }
  .semi-navigation-vertical .semi-navigation-header-list-outer::-webkit-scrollbar {
    width: 0;
  }
}
